[Unit]
Description=Sigsum log
Requires=trillian-server.service
After=trillian-server.service

[Service]
Type=simple
User={{ trillian_user }}
StandardError=journal
ExecStart=/usr/bin/sigsum-log-start.sh %i
Restart=on-failure

[Install]
WantedBy=multi-user.target
