[Unit]
Description="Trillian server"
Requires=trillian-signer.service
After=trillian-signer.service

[Service]
Type=simple
User={{ trillian_user }}
ExecStart=/home/{{ trillian_user }}/go/bin/trillian_log_server \
    --rpc_endpoint=localhost:6962 \
    --http_endpoint=localhost:6963 \
    --mysql_uri '{{ trillian_user }}:{{ trillian_db_pw }}@tcp(127.0.0.1:3306)/{{ trillian_db_dbname }}'
Restart=on-failure

[Install]
WantedBy=multi-user.target
