[Unit]
Description="Trillian signer"
After=mariadb.service

[Service]
Type=simple
User={{ trillian_user }}
ExecStart=/home/{{ trillian_user }}/go/bin/trillian_log_signer \
    --force_master \
    --rpc_endpoint=localhost:6961 \
    --http_endpoint=localhost:6964 \
    --num_sequencers 1 \
    --sequencer_interval 1000ms \
    --batch_size 100 \
    --mysql_uri '{{ trillian_user }}:{{ trillian_db_pw }}@tcp(127.0.0.1:3306)/{{ trillian_db_dbname }}'
Restart=on-failure

[Install]
WantedBy=multi-user.target
