---
# UNIX user on the system.  The litewitness systemd service (system scope) will
# be named litewitness@USER.  The sigsum-agent service will be configured for a
# separate UNIX user named sigsum-agent-USER such that USER can make use of it.
litewitness_user: litewitness

# The name of the witness.  Use a schema-less URL for a domain name that you
# control.  This helps avoid accidental naming collisions for witnesses.  The
# URL does not need to be network reachable.
#
# ---Example
# litewitness_name: example.org/witness
#
litewitness_name: ""

# Keyhash of the public Ed25519 witness key (hint: sigsum-key to-hash -k
# /path/to/pubkey).  This is used as a handle when accessing the private key
# via the SSH agent protocol (using sigsum-agent).
#
# ---Example
# litewitness_keygrip: 70ef4421b0ff38436855c2650988da6b03309d2105d6280fbb30dd1e635954ae
#
litewitness_keygrip: ""

# Define which logs to be witnessed and whether they have their own bastion
# host(s).  It is required to supply `vkey`.  It is optional to supply `origin`
# and `bastions`.  The default value for `origin` is the `vkey` key name.
#
# ---Example
# litewitness_logs:
#   - vkey: "sum.golang.org+033de0ae+Ac4zctda0e5eza+HJyk9SxEdh+s3Ux18htTTAD8OuAn8"
#     origin: "go.sum database tree"
#     bastions:
#       - "b1.example.org:443"
#       - "b2.example.org:443"
#
litewitness_logs: []

# Optionally discover logs to witness from a centrally managed list.  The
# expected list format is defined by <https://witness-network.org/>.
#
# ---Example
# litewitness_pull_logs:
#   - https://testing.witness-network.org/log-list.1
#
litewitness_pull_logs: []

# Schedule for the job that pulls logs from a centrally managed list, specified
# using the crontab(5) format.  By default, the job runs every 15 minutes.
#
# ---Example
# litewitness_pull_logs_schedule:
#   minute: "0"
#   hour: "*/2"
#
litewitness_pull_logs_schedule:
  minute: "*/15"

# Optionally populate one of:
#
#   * litewitness_bastion_endpoint (use to specify a bastion host for all logs)
#   * litewitness_listen_endpoint (use to run without bastion hosts)
#
# If neither option is populated, the witness will only be accessible via
# per-log bastions. If you decide to run without bastion hosts
# (https://c2sp.org/https-bastion), then you need to sort out your own HTTPS
# reverse proxy for the witness.
#
# ---Example
# litewitness_bastion_endpoint: "bastion.example.org:443"
# litewitness_listen_endpoint: "127.0.0.1:2009"
#
litewitness_bastion_endpoint: ""
litewitness_listen_endpoint: ""

# Go dependencies.  For each of the listed tools it is possible to override the
# default version and Go repository by also specifying "version" and "source" as
# additional dict members alongside "name".  Note that the listed tools are
# essential, so ensure to keep them if you're overriding and/or extending here.
#
# For example,
#
#  - {name: "litewitness", version: "v0.3.0", source: "example.org/torchwood"}
#
# would result in "go install example.org/torchwood/cmd/litewitness@v0.3.0".
#
litewitness_torchwood_version: "v0.9.0"
litewitness_torchwood_source: "filippo.io/torchwood"
litewitness_install_tools_from_torchwood:
  - {
     name: "litewitness",
     'source': "{{ litewitness_torchwood_source }}",
     'version': "{{ litewitness_torchwood_version }}",
     'handlers': ['Restart litewitness'],
    }
  - {
     name: "witnessctl",
     'source': "{{ litewitness_torchwood_source }}",
     'version': "{{ litewitness_torchwood_version }}",
     'handlers': ['Restart litewitness'],
    }

# Username to use for the sigsum_agent dependency. One possible usage
# is that if you run several instances of the litewitness role, you
# can make them share the same sigsum_agent by setting this variable
# to the same value for all instances of the litewitness role.
litewitness_sigsum_agent_user: "sigsum-agent-{{ litewitness_user }}"
