---
litebastion_gomodule: filippo.io/torchwood/cmd/litebastion
litebastion_goversion: v0.9.0
litebastion_user: litebastion
litebastion_directory: /var/lib/litebastion
litebastion_debian_backports: false

# Host and port to listen for backend connections.
litebastion_listen: localhost:8443

# Localhost port to listen for HTTP requests from the log.
litebastion_http_port: ""

# TLS configuration. This allows the certificate to be externally managed using
# any challenge method (e.g., DNS-01). Note: this is mutually exclusive with
# ACME.
#
# ---Example
# litebastion_tls_cert_path: /etc/litebastion/tls/server.crt
# litebastion_tls_key_path: /etc/litebastion/tls/server.key
#
litebastion_tls_cert_path: ""
litebastion_tls_key_path: ""

# ACME configuration. This requires litebastion to be accessible on port 443 so
# it can respond to the TLS-ALPN-01 validation requests from Let's Encrypt.
# Note: it only needs to be accessible on port 443, so it is perfectly valid to
# listen on a different port and redirect to it.
#
# ---Example
# litebastion_acme_host: bastion.example.org
# litebastion_acme_email: sysadmin@example.org
# litebastion_acme_cache: /var/lib/litebastion/acme
#
litebastion_acme_host: ""
litebastion_acme_email: ""
litebastion_acme_cache: "{{ litebastion_directory }}/acme"

# List of allowed witness backends, identified by their key hash (hint:
# sigsum-key to-hash -k key.pub).
#
# litebastion reloads the backends when it receives a SIGHUP signal. Existing
# connections remain unaffected unless the corresponding backends are removed
# from the list. In that case, those connections will be terminated.
#
# ---Example
# litebastion_backends:
#   - 2c26b46b68ffc68ff99b453c1d30413413422d706483bfa0f98a5e886266e7ae
#   - fcde2b2edba56bf408601fb721fe9b5c338d10ee429ea04fae5511b68fbf8fb9
#
litebastion_backends: []

# Toggle obscurity mode. When enabled, the /logz endpoint is disabled to
# prevent leakage of potentially sensitive information. See
# https://github.com/FiloSottile/torchwood/issues/54.
litebastion_obscurity_mode: true
