{% if external_endpoint %}
external-endpoint = "{{external_endpoint}}"
{% endif %}
{% if internal_endpoint %}
internal-endpoint = "{{internal_endpoint}}"
{% endif %}
{% if trillian_rpc_server %}
trillian-rpc-server = "{{trillian_rpc_server}}"
{% endif %}
{% if backend %}
backend = "{{backend}}"
{% endif %}
{% if url_prefix %}
url-prefix = "{{url_prefix}}"
{% endif %}
{% if trillian_tree_id_file %}
trillian-tree-id-file = "{{trillian_tree_id_file}}"
{% endif %}
{% if timeout %}
timeout = "{{timeout}}"
{% endif %}
{% if key_file %}
key-file = "{{key_file}}"
{% endif %}
{% if interval %}
interval = "{{interval}}"
{% endif %}
{% if log_file %}
log-file = "{{log_file}}"
{% endif %}
{% if log_level %}
log-level = "{{log_level}}"
{% endif %}

{% if primary is defined %}
[primary]
{% if witnesses %}
witnesses = "{{witnesses}}"
{% endif %}
{% if max_range %}
max-range = {{max_range}}
{%endif%}
{% if rate_limit_file %}
rate-limit-file = "{{rate_limit_file}}"
{%endif%}
{% if allow_test_domain %}
allow-test-domain = {{allow_test_domain}}
{%endif%}
{% if secondary_url %}
secondary-url = "{{secondary_url}}"
{%endif%}
{% if secondary_pubkey_file %}
secondary-pubkey-file = "{{secondary_pubkey_file}}"
{%endif%}
{% if sth_file %}
sth-file = "{{sth_file}}"
{%endif%}
{% endif %}

{% if secondary is defined %}
[secondary]
{% if primary_url %}
primary-url = "{{primary_url}}"
{% endif %}
{% endif %}
