[Unit]
Description=Sigsum log secondary node
Requires=trillian-server.service
Wants=sigsum-agent.service
After=trillian-server.service
After=sigsum-agent.service

[Service]
Type=simple
User={{ sigsum_user }}
StandardError=journal
ExecStart={{ sigsum_home }}/.local/bin/sigsum-log-start.sh secondary %i {{ sigsum_url_prefix }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
