[Unit]
Description=Sigsum log secondary node
Requires=trillian-server.service {% if sigsum_agent_socket is defined %}sigsum-agent.service{% endif +%}
After=trillian-server.service {% if sigsum_agent_socket is defined %}sigsum-agent.service{% endif +%}

[Service]
Type=simple
User={{ sigsum_user }}
StandardError=journal
ExecStart={{ sigsum_home }}/.local/bin/sigsum-log-start.sh secondary %i {{ sigsum_url_prefix }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
