[Unit]
Description=Sigsum log primary node
Requires=trillian-server.service
After=trillian-server.service

[Service]
Type=simple
User={{ sigsum_user }}
StandardError=journal
{% if sigsum_yubihsm_agent %}
Environment=SSH_AGENT_SOCK={{ sigsum_yubihsm_agent_socket }}
{% endif %}
ExecStart=/usr/bin/sigsum-log-start.sh primary %i {{ sigsum_url_prefix }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
