---
- name: Include distribution-dependent variables
  ansible.builtin.include_vars: "{{ ansible_facts['os_family'] }}.yml"

- name: Install and configure the litebastion service
  ansible.builtin.include_tasks: litebastion.yml
