{# TODO: add "ansible managed" comment here, after fixing sigsum-agent so that it can ignore comment lines #}
{% for hsm in sigsum_yubihsm_credentials -%}
{{ hsm.port }}:{{ hsm.auth_id }}:{{ hsm.passphrase }}
{%- endfor %}
