[Unit]
Description=sigsum-agent activation socket
{% if sigsum_agent_yubihsm_passphrase is defined %}
After=yubihsm-connector.service
BindsTo=yubihsm-connector.service
{% endif %}

[Socket]
RuntimeDirectory={{ sigsum_agent_user }}
ListenStream={{ sigsum_agent_socket }}
SocketUser={{ sigsum_agent_user }}
SocketMode=0660

[Install]
WantedBy=multi-user.target
