[Unit]
Description=sigsum-agent activation socket

[Socket]
RuntimeDirectory={{ sigsum_agent_user }}
ListenStream={{ sigsum_agent_socket }}
SocketUser={{ sigsum_agent_user }}
SocketMode=0660

[Install]
WantedBy=multi-user.target
