---
- name: Enforce valid endpoint configuration
  ansible.builtin.assert:
    that: not (litewitness_listen_endpoint != "" and litewitness_bastion_endpoint != "")
    fail_msg: "litewitness_bastion_endpoint and litewitness_listen_endpoint are mutually exclusive"
