# {{ ansible_managed }}

{% set args = [
  "-name " ~ "\"" ~ litewitness_name ~ "\"",
  "-obscurity " ~ (litewitness_debug_endpoints_enabled | lower),
  ("-listen-metrics " ~ "\"" ~ litewitness_listen_metrics ~ "\"") if litewitness_listen_metrics else "",
  "-key " ~ "\"" ~ litewitness_keygrip ~ "\"",
  "-ssh-agent /run/sigsum-agent/sigsum-agent.sock",
] %}

ARGS={{ args | select | join(" ") }}
